<h1>Donate!</h1><br>

<!--CHARITY NAME-->
<form method="POST" action="/posts">
  <div class="form-group">
    <label for="charityName">Charity Name</label>
    <input type="text" class="form-control" id="charityName" name="charityName">
  </div>

  <!--NAME-->
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>

<!--AMOUNT GIVEN-->
  <div class="form-group">
      <label for="amountGiven">Amount Given</label>
    <input type="text" class="form-control" id="amountGiven" name="amountGiven">
  </div>

<!--DESCRIPTION-->
  <div class="form-group">
    <label for="description">What did you pick this charity?</label>
    <textarea class="form-control" id="description" name="description" rows="3"></textarea>
  </div>

<!--SUBMIT BUTTON-->
   <div class="container-fluid" style="float: right;">
        <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>